<h1><strong>Books</strong></h1>

<div class="title"><storong>Title</storong></div>
<div class="body"><storong>Body</storong></div>


<h1><strong>New book</strong></h1>

<%= form_with model: @list, local:true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>

